
Text label="DevilRemote" {
	Frame {
		Switch item=Hifi_Teufel_Power
	}
	Frame {
		Text item=Hifi_Teufel_Volume
		Slider item=Hifi_Teufel_Volume_Slider
		Switch item=Hifi_Teufel_Volume_Diff mappings=[
			"+1"="+",
			"-1"="-"
		]
	}
	Frame {
		Text item=Hifi_Teufel_Bass
		Slider item=Hifi_Teufel_Bass_Slider
		Switch item=Hifi_Teufel_Bass_Diff mappings=[
			"+1"="+",
			"-1"="-"
		]
	}
}
